<div class="register-card"><img class="profile-img-card" src="assets/img/signup.png" heiht="200" width="200" />
    <p class="profile-name-card"></p>
    <form [formGroup]="form" (ngSubmit)="submit()"  class="form-signup"><span class="reauth-email"></span>
        <div class="row">
            <div class="col-md-6 form-group">
                <input #Email formControlName="username" type="text" class="form-control" id="username" required placeholder="UserName" autofocus />
                <div *ngIf="f['username'].touched && f['username'].invalid" class="alert alert-danger">
                    <div *ngIf="f['username'].errors && f['username'].errors['required']">UserName is required!!</div>
                </div>
            </div>
            <div class="col-md-6 form-group">
                <input #Email formControlName="email" type="email" class="form-control" id="inputEmail" required placeholder="Email address" autofocus />
                <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
                    <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required!!</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 form-group">
                <input #PWD formControlName="password" type="password" class="form-control" id="inputPassword" required placeholder="Password" />
                <div *ngIf="f['password'].touched && f['password'].invalid" class="alert alert-danger">
                    <div *ngIf="f['password'].errors && f['password'].errors['required']">Password is required.</div>
                </div>
            </div>
            <div class="col-md-6 form-group">
                <input #PWD formControlName="confirmPassword" type="password" class="form-control" id="inputPassword" required placeholder="Confirm Password" />
                <div *ngIf="f['confirmPassword'].touched && f['confirmPassword'].invalid" class="alert alert-danger">
                    <div *ngIf="f['confirmPassword'].errors && f['confirmPassword'].errors['required']">Confirm Password is required.</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 form-group">
                <input #Email formControlName="contact_number" type="text" class="form-control" id="contact" required placeholder="Contact" autofocus />
                <div *ngIf="f['contact_number'].touched && f['contact_number'].invalid" class="alert alert-danger">
                    <div *ngIf="f['contact_number'].errors && f['contact_number'].errors['required']">ContactNumber is required.</div>
                </div>
            </div>
            <div class="col-md-6 form-group">
                <input #Email formControlName="usertype" type="text" class="form-control" id="usertype" required placeholder="UserType" autofocus />
                <div *ngIf="f['usertype'].touched && f['usertype'].invalid" class="alert alert-danger">
                    <div *ngIf="f['usertype'].errors && f['usertype'].errors['required']">UserType is required.</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 form-group">
                <input #Email formControlName="gender" type="text" class="form-control" id="gender" required placeholder="Gender" autofocus />
                <div *ngIf="f['gender'].touched && f['gender'].invalid" class="alert alert-danger">
                    <div *ngIf="f['gender'].errors && f['gender'].errors['required']">Gender is required.</div>
                </div>
            </div>
        </div>

        
        
       
        <button class="btn btn-primary btn-block btn-lg btn-signup" type="submit" [disabled]="!form.valid"  >Sign Up</button>
        </form>
            <a class="forgot-password" routerLink="/login">Already a User ?</a></div>







            <style>
               

            </style>
