<h1 class="text-center my-5 student_dashboard_title">Student Dashboard</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="card student_dashboard_card">
        <a routerLink="/viewcourses" class="viewcourses_link">
          <div class="card-body">
            <img src="https://cdn-icons-png.flaticon.com/512/562/562132.png" height="100" width="100" class="student_dashboard_img mx-auto" alt="">
            <h5 class="text-center my-3"> View All Courses</h5>
            <p class="text-muted text-center">Here you can view all the courses which are available.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card student_dashboard_card">
        <a routerLink="/select_course"  class="viewcourses_link">
          <div class="card-body">
            <img src="assets/img/select course.jpg" height="100" width="100" class="student_dashboard_img mx-auto" alt="">
            <h5 class="text-center my-3">Select A Course</h5>
            <p class="text-muted text-center" id="student-name">In this you can select a course for your studies.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card student_dashboard_card">
        <a routerLink="/view-selectedcourses" class="viewcourses_link" >
          <div class="card-body">
            <img src="assets/img/stu2.png" height="100" width="100" class="student_dashboard_img mx-auto" alt="">
            <h5 class="text-center my-3">View  Selected Courses</h5>
            <p class="text-muted text-center" id="student-name">Here you can view your selected courses done in the past.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
