<h1 class="text-center my-5 student_dashboard_title">Admin Dashboard</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="card student_dashboard_card">
        <a routerLink="/viewcourses" class="view_courses_link">
          <div class="card-body">
            <img src="https://cdn-icons-png.flaticon.com/512/562/562132.png"height= 100 width=100  class="student_dashboard_img" alt="">
            <h5 class="text-center my-3"> View all Courses</h5>
            <p class="text-muted text-center">Here you can view all the courses which are available.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card student_dashboard_card">
        <a routerLink="/register-course" class="view_courses_link">
          <div class="card-body">
            <img src="assets/img/admin1.png" height="100" width="100" class="student_dashboard_img" alt="">
            <h5 class="text-center my-3">Register a course</h5>
            <p class="text-muted text-center" >In this admin can register a course for your studies.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card student_dashboard_card">
        <a routerLink="/view-selectedcourses" class="view_courses_link" >
          <div class="card-body">
            <img src="assets/img/admin.png" height="100" width="100" class="student_dashboard_img" alt="">
            <h5 class="text-center my-3">View all register students</h5>
            <p class="text-muted text-center" >Here admin can view all the registrations done in the past.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
