<div class="register-card"><img class="profile-img-card" src="assets/img/registration.png" />
    <p class="profile-name-card"></p>
    <form  class="form-signup"><span class="reauth-email"></span>
        <div class="row">
            <div class="col-md-12 form-group">
                <input #Email formControlName="Student_Id" type="text" class="form-control" id="Student_Id" required placeholder="User Id" autofocus />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 form-group">
                <input #Email formControlName="course_Id" type="text" class="form-control" id="course_Id" required placeholder="course Id" autofocus />
                
            </div>
            <div class="col-md-6 form-group">
                <input #Email formControlName="Course_Name" type="text" class="form-control" id="Course_Name" required placeholder="Course Name" autofocus />
                
            </div>
        </div>
                
           
        
        
        <div class="row">
            
            <div class="col-md-6 form-group">
                <input #Email formControlName="course_fees" type="number" class="form-control" id="course_fees" required placeholder="Course Fee" autofocus />
                
            </div>
        </div>
        <button class="btn btn-primary btn-block btn-lg btn-signup" type="submit"  >Apply</button>
        